{
    "presets": [
        "vue-app",
        [
            "env",
            {
                "targets": {
                    "chrome": 46,
                    "browsers": [
                        "last 2 versions",
                        "android>4",
                        "safari 6"
                    ]
                }
            }
        ]
    ]
}